{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
    <h1>Missions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Duree</th>
                <th>Hebergement</th>
                <th>Prix</th>
                <th>Transport</th>
                <th>Nombrepersonne</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td><a href="{{ path('mission_show', { 'id': mission.id }) }}">{{ mission.id }}</a></td>
                <td>{{ mission.duree }}</td>
                <td>{{ mission.hebergement }}</td>
                <td>{{ mission.prix }}</td>
                <td>{{ mission.transport }}</td>
                <td>{{ mission.nombrepersonne }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mission_show', { 'id': mission.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% endblock %}
